<!DOCTYPE html>
<head>
<html lang="pt-br">
{% include 'global/partials/header.html' %}

<title>{% block title %}{% endblock title %} | Recipe</title>
</head>

<body>
    {% include 'global/partials/cabecalho.html' %}
    {% include 'global/partials/search.html' %}
    
    <main class="content-container">
        {% block content %}
        
        {% endblock content %}
        {% include 'global/partials/pagination.html' %} 
       
    </main>

    {% include 'global/partials/foother.html' %} 
</body>

</html>